.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://e.rpp-noticias.io/xlarge/2022/03/16/241224_1232803.jpg");
  }